.GeneroCanciones {
  background: #181818;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px 0;
  margin: 0;
}
.GeneroCanciones h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
